blockquote {
    color: tomato

}

#About\ me {
color: aquamarine;
}

.cornflower {
    color: cornflowerblue;
}

#blue {
    color:Blue
}

#pink{
    color: pink;
}

#Red {
    color:darkred;
}

#Brawlhalla {
    color: cadetblue;
}